.categoryPosts{
  background-color: white;
  padding: 10px;
}
.post{
  display: flex;
  align-items: center;
}
.categoryContent{
  display: flex;
  margin-left: 20px;
  font-size: 15px;
  background-color: #f9f9fc;
}
.author{
  background-color: #7961C9;
  color: white;
  padding: 5px;
}
.date{
  margin-left: 10px;
  color: #7961C9;
  padding: 5px;
}
.tags{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}
.tag{
  padding: 3px;
  border-radius: 5px;
  margin-right: 5px;
  background-color: #eeeeee;
}

