<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<ng-container *ngIf="searchText !== ''">
  <app-searchfield [searchedText]="searchText"></app-searchfield>
</ng-container>
<div class="container" *ngIf="searchText === ''">
  <div class="row">
    <div class="col-lg-6 mt-4" *ngFor="let category of categories" [routerLink]="'/category-page/'+category.id">
      <div class="card  shadow-sm">
          <img [src]="'assets/icons/'+category.icon" height="50px">
          <div class="cardContent">
            <h2 style="margin-bottom: 5px; color: #7961C9;">{{category.name}}</h2>
            <p style="margin:0;">{{category.description}}</p>
          </div>
      </div>
    </div>
  </div>
</div>
